data.table
dplyr
exactextractr
ggplot2
here
htmlwidgets
leaflet
leaflet.providers
lubridate
Matrix
osmdata
R.utils
randomForest
renv
rlang
sf
smoothr
spdep
terra
tidyr
tidyverse
TMB
units
viridis
viridisLite
zoo
